main {    
    overflow-x: hidden;
}

header {
    align-items: center;

}

header nav {
    flex-grow: 1;
}


header nav ul {
    max-height: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 500ms ease;
    transform: translateX(-6vw);
    background: white;
    color: black;
    max-height: 0;
}

header nav li {
    flex-grow: 1;
    text-align: center;
    min-width: 1em;
}


header nav a {
    line-height: 2em;

}

nav ul li a {
    font-size: 19px;
    font-family: 'Recoleta Medium', 'Domine', serif;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


/*hamburger menu*/

@media (min-width: 500px) {
    header nav ul {
        display: flex;
        flex-direction: row;
        opacity: 1;
        background: none;
        color: white;
    }
    
    header {
        display: flex;
    }
    
    .menuknop {
        display: none; 
        opacity: 0;
        max-height: 0;
        max-width: 0;
    }
}

.menuknop {
    display: inline-flex;
    align-items: center;
    font-size: 19px;
    left: 0;
    padding: 10px;
    padding-bottom: 0px;
    margin-left: 10px;
}

/*class for toggle*/

.toonMenu {
    max-height: 90em;
    opacity: 1;
    transform: translateX(0);
}


img {
    height: 100%;
    width: 100%;
}

 /* sections incl. image + buttons */

/*Milka home afbeelding + doe mee knop*/

/*Milka home afbeelding + doe mee knop*/
main > div:nth-of-type(1) > section {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka dark milk */
main > div:nth-of-type(2) > div > section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka biscuits */
main > div:nth-of-type(2) > div > section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


/*Milka dripping */
main > section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka & oreo*/
main > section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka bubbles*/

main > div:nth-of-type(3) > section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*Milka chocotabs*/

main > section:nth-of-type(3){
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}

/*Milka geschiedenis */
main > section:nth-of-type(4){
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: lavenderblush;
}



 /* Images */
img[src="images/Milka%20logo%20wit.png"] {
    width: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

img[src="images/milka%20home.png"] {
    object-fit: cover;
    display: block;
    width: 210%;
    height: auto;
    position: relative;     
}

img[src="images/milka%20darkmilk.png"] {
    object-fit: cover;
    display: block;
    width: 210%;
    height: auto;
    position: relative; 
    
} 

img[src="images/milka%20bescuits.png"] {
    object-fit: cover;
    display: block;
    width: 99%;
    height: auto;
    position: relative; 
    
}

img[src="images/milk%20splash.png"] {
    object-fit: cover;
    position: relative;
    display: block;
    width: 300%;
    height: 110%;
}



img[src="images/Milka%20max%20bar.png"] {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
    position: relative; 
    background-color: white;
    
}

 /* buttons */

button {
    background-color: white;
    border-radius: 60px;
    border-bottom-style: solid;
    border-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
}

.bluebuttons {
    background-color: lightblue;
    border-radius: 60px;
    border-bottom-style: solid;
    border-color: lightblue;
    padding: 10px;
    font-size: 20px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doemeeknop {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: white;
    border-radius: 60px;
    border-bottom-style: solid;
    border-color: white;
    padding: 10px;
    font-size: 20px;
}

.nieuwsbutton {
    background-color: white;
    border-radius: 60px;
    border-bottom-style: solid;
    border-color: white;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%:
    transform: translate(-50%, -50%);
    display: block;
}

.ontdekmeerbutton {
    background-color: lightblue;
    border-radius: 60px;
    border-bottom-style: solid;
    border-color: white;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}




body {
    background-color: mediumpurple;
    background-size: cover;
    margin: auto;
}

h1 {
    color: white;
    font-family: 'Recoleta Medium', 'Domine', serif;
    background-color: mediumpurple;
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    text-align: center;
}

h4 {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 9em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}



h5:nth-of-type(1) {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    font-family: 'Quicksand', sans-serif;
}

h3:nth-of-type(1) {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: 4em;
    font-family: 'Recoleta Medium', 'Domine', serif;
}

h2:nth-of-type(1) {
    font-family: 'Recoleta Medium', 'Domine', serif;
    
}
    
p:nth-of-type(1) {
    font-family: 'Quicksand', sans-serif;
        
}

/*container for grid*/ 
.container1 {
    display: grid;
    grid-template-columns: 50% auto;
    position:  relative;
}

/* fix mainly buttons zodat ze niet al teveel bewegen of verdwijnen*/

#stickinginplace {
    position: relative;

}
  
    
@media (min-width: 600px ) {
    img[src="images/milk%20splash.png"] {
        height: 200px;
        
    }
    
     /*large screens*/
@media (min-width: 601px ) {
    img[src="images/milka%20and%20oreo.jpg" ] {
        height: 200px;
        object-fit: cover;
        
    }
    
    /*small screens*/
@media (max-width: 300px ) {
    img[src="images/milka%20and%20oreo.jpg" ] {
        height: 150px;
        object-fit: cover;
        
    }
    
@media (min-width: 600px ) {
     img[src="images/milka%20bubbles.jpg" ] {
        height: 200px;
        object-fit: cover;
    }
    
    .nieuwsbutton {
        display: flex;
        align-items: center;
    flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        direction: ltr; 
    }
    
/*footer*/

 main > footer > ul:nth-of-type(1) {
        border: solid;

    }
    